{% extends "base_generic.html" %}

{% block content %}
  <h1>Conductor: {{ conductor.nombre }}</h1>

  <p><strong>Identificación:</strong> {{ conductor.documento }}</p>
  <p><strong>Nacionalidad:</strong> {{ conductor.nacionalidad }}</p>
  <p><strong>Licencia:</strong> {{ conductor.licencia }}</p>
  <p><strong>Fecha Nacimiento:</strong> {{ conductor.fecha_nacimiento }}</p>

  <button><a href="{% url 'conductor-update' conductor.id %}">Editar</a></button>
  <button><a href="{% url 'conductor-delete' conductor.id %}">Eliminar</a></button>

{% endblock %}
